@import '../../styles/global';
@import '../../styles/mixins';

.forecast {
    @include forecastContainer;
    position: relative;
    margin-bottom: 1rem;

    h3 {
        margin: 0;
        color: $text-colour;
        text-align: left;
        width: 100%;
        font-weight: getWeight(bold);
    }

    hr {
        @include line;
    }

    &__title {
        width: 100%;
        @include flexSpaceBetweenCenter(row);

        h3 {
            width: 50%;
        }

        .forecast-scroll {
            @include flexEnd(row);
            width: 50%;
            color: $text-colour;

            h4 {
                margin: 0;
                margin-right: 0.2rem;
                font-size: 0.8rem;
            }

            .forecast-scroll-icon {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__container {
        width: 100%;
        padding: 0.2rem 0;
        border-radius: 0.5rem;
        background-image: none;
        background-image: linear-gradient(#424242, #292929);
        margin: 0.2rem 0;

        &:hover {
            background-image: linear-gradient($light-blue, $dark-blue);
            @include transition-ease;
        }
        
        &.active {
            background-image: linear-gradient($light-blue, $dark-blue);
        }
    }

    &__row {
        @include flexSpaceBetweenCenter(row);
        font-size: 0.9rem;
        margin: 0 0.5rem;
        cursor: pointer;

        h4 {
            margin: 0;
            text-shadow: 0px 0px 4px $primary-colour;
        }

        .day {
            font-weight: getWeight(bold);
            width: 1rem;
        }

        .forecast-img {
            @include flexStart(row);

            h4 {
                font-weight: getWeight(regular);
                @include textOverflow(5rem);

                @include mobile-m {
                    @include textOverflow(8rem);
                    @include transition-ease;
                }

                @include mobile-lg {
                    @include textOverflow(10rem);
                    @include transition-ease;
                }

                @include tablet-view {
                    @include textOverflow(7rem);
                    @include transition-ease;
                }

                @include laptop-view {
                    @include textOverflow(10rem);
                    @include transition-ease;
                }
            }

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        .low-high {
            @include flexCenter(row);
            
            h4 {
                font-weight: getWeight(medium);
                margin-right: 0.3rem;
            }
        }

        .info {
            @include flexSpaceBetweenCenter(column);
        }
    }
}

@include tablet-view {
    .forecast {
        width: 40vw;
    }
}