$text-colour: #fff;
$primary-colour: #000311ff;
$light-blue: #0CC2F5ff;
$mid-blue: #0C95E2ff;
$dark-blue: #086AF3ff;
$accent: #FEEF00ff;

$font-weights: (
    "light": 200,
    "regular": 400,
    "medium": 500,
    "bold": 800
);