$text-colour: #fff;
$primary-colour: #000311ff;
$light-blue: #0CC2F5ff;
$mid-blue: #0C95E2ff;
$dark-blue: #086AF3ff;
$darker-blue: rgb(1, 46, 110);
$accent: #ee6c4d;

$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 800
);