@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexStart($direction) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexSpaceBetweenCenter($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function getWeight($weight) {
    @return map-get($font-weights, $weight);
}

@mixin defaultLook {
    @include flexCenter(column);
    background-color: $primary-colour;
    min-height: 100vh;
    color: $text-colour;
}

@mixin forecastContainer {
    width: 90vw;
    padding: 1rem 1rem 0 1rem;
    @include flexStart(column);
}

@mixin line {
    width: 100%;
    border: none;
    height: 1px;
    background-color: rgb($text-colour, 0.5);
}

@mixin textOverflow($width) {
    overflow: hidden;
    text-overflow: ellipsis;
    width: $width;
    white-space: nowrap;
}

@mixin mobile-lg {
    @media screen and (min-width: 425px) {
        @content;
    }
}

@mixin tablet-sm {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin tablet-view {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop-view {
    @media screen and (min-width: 1024px) {
        @content;
    }
}