@import '../../styles/global';
@import '../../styles/mixins';

.todays-forecast {
    @include forecastContainer;
    position: relative;

    h3 {
        margin: 0;
        color: $text-colour;
        text-align: left;
        width: 100%;
        font-weight: getWeight(bold);
    }

    hr {
        @include line;
    }

    &__title {
        width: 100%;
        @include flexSpaceBetweenCenter(row);

        h3 {
            width: 50%;
        }

        .todays-forecast-scroll {
            @include flexEnd(row);
            width: 50%;
            color: $text-colour;

            h4 {
                margin: 0;
                margin-right: 0.2rem;
                font-size: 0.8rem;
            }

            .scroll-icon {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__row {
        width: 100%;
        @include flexStart(row);
        overflow-x: scroll;
        white-space: nowrap;
        cursor: pointer;

        &::-webkit-scrollbar-thumb {
            background: transparent;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0.4rem;
            height: 0.4rem;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: rgb($text-colour, 0.8);
                border-radius: 0.5rem;
            }
        }
    }

    &__box {
        width: 3rem;
        @include flexCenter(column);
        padding: 0.5rem;
        margin: 0 0.2rem 0.1rem 0.2rem;
        background-image: linear-gradient(#424242, #292929);
        border-radius: 0.5rem;

        h4 {
            margin: 0;
        }

        &.curr-time {
            background-image: linear-gradient($light-blue, $dark-blue);
            border-radius: 0.5rem;
            text-shadow: 0px 0px 4px $primary-colour;
            margin: 0 0.2rem 0.1rem 0;
        }
    } 

    &__time {
        font-weight: getWeight(regular);
    }
}


@include tablet-view {
    .todays-forecast {
        width: 40vw;
    }
}