@import './styles/global';
@import './styles/mixins';

.App {
  font-family: 'Roboto';
}

.App-header {
  @include defaultLook;

  .app-forecast {
    @include flexCenter(column);
  }
}

.App-loading {
  @include defaultLook;
}

@include tablet-view {
  .App-header {
    @include flexCenter(row);
    
    .app-forecast {
      height: 47vh;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: 5px solid $light-blue;
      border-radius: 0.5rem;
    }
  }
}
