@import '../../styles/global';
@import '../../styles/mixins';

.today {
    @include flexCenter(column);
    text-align: center;
    margin-top: 1rem;
    width: 90vw;
    position: relative;
    background-image: linear-gradient($light-blue, $dark-blue);
    height: 50vh;
    border-radius: 0.5rem;
   
    &__main {
        @include flexCenter(column);

        .search-container {
            @include flexEnd(row);
            position: absolute;
            width: 90%;
            top: 1rem;
            right: 1rem;
        }

        .search {
            @include flexEnd(row);
            font-family: Roboto;
            width: 100%;
            margin-right: 0.5rem;

            .search-input {
                width: 100%;

                input {
                    font-family: Roboto;
                    font-weight: getWeight(medium);
                    padding: 0.5rem 0.3rem;
                    width: 90%;
                    border-radius: 5px;
                    border: none;

                    @include mobile-lg {
                        width: 100%;
                        @include transition-ease;
                    }

                    @include tablet-view {
                        width: 90%;
                        @include transition-ease;
                    }

                    @include laptop-view {
                        width: 100%;
                        @include transition-ease;
                    }
                }

                .searched-places-container {
                    background-color: $text-colour;
                    position: absolute;
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.5rem;
                    margin-top: 0.5rem;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    white-space: nowrap;
                    cursor: pointer;

                    &::-webkit-scrollbar-thumb {
                        background: transparent;
                    }

                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 0.4rem;
                        height: 0.4rem;
                    }

                    &:hover {
                        &::-webkit-scrollbar-thumb {
                            background: rgb($primary-colour, 0.8);
                            border-radius: 0.5rem;
                        }
                    }
                    .searched-places {
                        width: 100%;
                        padding: 0.5rem;
                        @include flexSpaceBetweenCenter(row);

                        &:hover {
                            background-color: $darker-blue;

                            h4 {
                                color: $text-colour;
                            }

                            h5 {
                                color: rgb($text-colour, 0.8);
                            }
                        }

                        h4 {
                            margin: 0;
                            color: $primary-colour;
                            font-weight: getWeight(medium);
                            text-align: left;
                            @include textOverflow(10rem);
                        }

                        h5 {
                            margin: 0;
                            margin-right: 0.5rem;
                            color: rgb($primary-colour, 0.8);
                            font-weight: getWeight(regular);
                        }
                    }
                }
            }

            &.show {
                visibility: visible;
                opacity: 1;
                @include transition-ease;
            }

            &.hidden {
                visibility: hidden;
                opacity: 0;
                @include transition-ease;
            }
        }

        .searchIcon {
            height: 3rem;
            width: 3rem;
            color: $text-colour;
            cursor: pointer;

            &.active {
                color: $darker-blue;
            }

            &:hover {
                color: $darker-blue;
                @include transition-ease;
            }
        }

        .location {
            @include flexStart(column);
            width: 100%;
            position: absolute;
            bottom: 1.5rem;
            left: 1.5rem;

            h4 {
                width: 100%;
                margin: 0;
                text-align: left;
                font-weight: getWeight(bold);
                font-size: 0.9rem;
                color: rgb($text-colour, 0.8)
            }
        }
    }

    &__weather {
        margin: 2rem;

        h4 { margin: 0}

        .city {
            @include flexCenter(row);
            
            .icon {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.4rem;
            }

            .name {
                font-size: 1.8rem;
                font-weight: getWeight(light);
                margin: 0;
            }
        }

        .temp {
            margin: 0.5rem;
            font-size: 4rem;
            font-weight: getWeight(bold);
            text-shadow: 0px 0px 5px $primary-colour;
        }

        .condition {
            font-weight: getWeight(regular);
            font-size: 1.2rem;
        }

        .date {
            font-weight: getWeight(bold);
            font-size: 0.8rem;
            margin: 0.2rem 0;
            color: rgb($text-colour, 0.8)
        }
    }
}

@include tablet-view {
    .today {
        width: 40vw;
        height: 47vh;
        margin: 0 0.5rem 0 0;

        &__main {
            width: 90%;
        }
    }
}